.polygon {
    -webkit-animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


.aboutusContainer {

    @media screen and (max-width: 1200px) {
        transform: none;
    }

    transform: translateX(-400px);
}

.doctorMockup {
    transform: translate(665px, -315px);

    @media screen and (max-width: 1200px) {
        transform: none;
    }
}

.polygonPic {
    transform: translate(390px, -163px);

    @media screen and (max-width: 1200px) {
        transform: none;
        margin: 0 auto;
    }
}